* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hero styles */

.hero-main {
  max-width: 100%;
  text-align: center;
  background-color: rgb(230,253,254);
 

}


.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  
}

.hero-search {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(233,102,41);
  background-color: rgb(233,102,41);
  color: white;
  border-radius: 15px;
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  
}

.hero-search-text {
  padding-top: 10px;
  padding-left: 20px

}
 .hero-search-x {
  padding-top: 10px;
  padding-right: 20px
 }

 button.hero-button {
  background-color: rgb(233,102,41);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(233,102,41);
  height: 40px;
  width: 100px;
  margin: 10px;
  padding: 10px 10px;
  padding-bottom: 10px;
  border-radius: 5px;
 }

 .hero-inner {
  display: flex;
  justify-content: space-between;
  
 }

 .hero-main-left {
  padding-top: 60px;
  margin-left: 0px;
 }

 .hero-main-right {
  padding-top: 70px;
  
 }

 .hero-main-h3{  
font-style: normal;
font-weight: 700;
font-size: 55px;
text-align: left;
margin-left: 30px;
color: #218698;
 }

 .hero-main-h3-2nd {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  color: #218698;
  text-align: left;
  margin-left: 30px;
  margin-top: 5px;
 
   }
 

 .hero-main-h3-span {
    color: #ED6710;
 }

.hero-inner-button-content {
  padding-left: -50px;
}

 .hero-inner-text {
  text-align: left; 
  margin-left: 30px;
  padding-top: 20px;
 }

 .inner-button  {
   background-color: #ED6710;
   border: 1px solid #ED6710;
   height: 40px;
   width: 200px;
   color: white;
   padding-left:30px;
   margin-top: 30px;
   margin-left: 5px;

 }

 .button-side-text {
  color: #ED6710;
  padding-left: 20px;
  font-weight: 700;
 }

 /* Testimonies Styles */

 .testimonnies-text {
  
    margin-left: 50px;
 }
 
 .testimonnies-text1 {
  color: #ED6710;
  font-weight: 700;
 }
 .testimonnies-text2 {
  color: #50A0AF;
  font-weight: 700;
  font-size: x-large;
 }


 /* Our-Offer Styles */

 .our-offer {
  background-color: #50A0AF;
  width: 85%;
  height: 480px;
  border-radius: 40px;
  margin-left: 40px;
 }

 .our-offer-text-items {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
 }

 .our-offer-h6 {
  color: white

  
 }
 .our-offer-h3 {
  
  color: white
  
}

.our-offer-card {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  
  }

.our-offer-card-item {
  width: 170px;
  height: 280px;
  background-color: white;
  border-radius: 3%;
  
}

.our-offer-card-desc {
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
  color: grey;
  

}

.our-offer-card-image {
  width: 170px;
  border-radius: 3%;
}
.our-offer-card-title {
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #ED6710;
}

.our-offer-card-button {
  color: #ED6710;
  background-color: white;
  border: 1px solid white;
  font-size: 10px;
  font-weight: 700;
}

.our-offer-card-button2 {
  color: #FFFFFF;
  width: 110px;
  height: 25px;
  background-color: #ED6710;
  border: 1px solid #ED6710;
  font-size: 10px;
  font-weight: 700;
  border-radius: 2px;
  float: right;
  margin-top: 20px;
  margin-right:40px;
}


/* PL-Why style */


.pl_why_text {
  margin-left: 100px;
  margin-top: 20px;
}

.pl_why_card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  
}

.pl_why_container-card {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  
}

.pl_why_container-text {
  margin-left: 100px;
  margin-top: 50px;
}

.pl_why_container {
  width: 70%;
  height: 400px;
  background-color: #EAF9FA;
  margin-left: 20px;
  border-radius: 3px;
}

.pl_why_container-card1 {
  width: 300px;
  height: 220px;
  background-color: white;
  padding-left: 20px;
  padding-top: 5px;
  border-radius: 3px;
}

.pl_why_container-card1-title {
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #ED6710;
}
 
.pl_why_container-card1-desc {
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
  color: grey;
  
}


.pl_why_container-text-h6 {
  padding-top: 40px;
  font-size: 12px;
  font-weight: 700;
  color: #ED6710;
}

.pl_why_container-text-h3 {
  color: #50A0AF;
  font-weight: 700;
  font-size: x-large;
}


/* Faqs Style */

.faqs-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
 
}

.faqs-main-inner1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
  width: 400px;
}

hr {
  background-color: #218698;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 400px;
  
}

.faqs-main-outer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #218698;
  text-align: left;
  margin-left: 30px;
  margin-top: 5px;
}

.faqs-main-inner1-link {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: #218698;
  text-align: left;
  margin-left: 30px;
  margin-top: 5px;
}

.clientreview-main {
  width: 95%;
  height: 450px;
  background-color: #EAF9FA;
  margin-left: 30px;
  margin-right: 30px;
}

.clientreview-inner2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
 
}

.clientreview-inner2-card1 {
  width: 300px;
  height: 250px;
  background-color: #FFFFFF;
  margin-left: 10px;
}
.clientreview-inner2-card2 {
  width: 300px;
  height: 250px;
  background-color: #FCF0E7;
  margin-left: 10px;
}

.clientreview-inner2-card1-outer, .clientreview-inner2-card1-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.clientreview-inner2-card2-outer, .clientreview-inner2-card2-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.clientreview-inner2-card-name {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #218698;
}

.clientreview-inner2-card2-desc {
  padding-top: 2px;
  padding-right: 25px;
  padding-left: 8px;
  padding-bottom: 10px;
  font-size: 9px;
  font-weight: 600;
  color: grey;
}

.clientreview-inner2-card-name-group {
  padding-left: 30px;
}

.clientreview-inner1 {
  padding-bottom: 30px;
}

/* Footer styles */

.footer-main {
  width: 95%;
  height: 350px;
  background-color: #50A0AF;
  margin-left: 30px;
  margin-bottom: 30px;
}

.footer-main-inner, .footer-legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  margin-right: 70px;
}

.footer-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 220px;
  height: 40px;
  background-color: white;
  border-radius: 2px;
}

.footer-main-inner-item-p, .footer-legal2, .footer-legal-outer {
  color: white;
}
.footer-main-inner-item-p1 {
  color: white;
}
.footer-main-inner-item-h5 {
  margin-top: 20px;
  color: white;
}
.footer-legal-side  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: white;
}

.footer-email-inner-button  {
  background-color: #ED6710;
  border: 1px solid #ED6710;
  height: 20px;
  width: 100px;
  color: white;
  margin-right: 5px;
 

}
.footer-email-p {
  font-size: 10px;
  padding-left: 3px;
}